* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E4E9F7;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.logo i {
    font-size: 40px;
    margin-left: 1%;
}

.main {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-container {
    background-color: #11101D;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .num {
    margin-right: 10%;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    color: #E4E9F7;
    background: #1d1b31;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container .num span {
    font-size: 30px;
    color: #E4E9F7;
}

.container-items button {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 23px;
    border-radius: 50%;
    border: none;
    color: #E4E9F7;
    background: #1d1b31;
}

.up {
    margin-bottom: 20%;
}

.down {
    margin-top: 20%;
}